{{- if eq .chezmoi.hostname "eagleusb" -}}
[user]
	email 			= git@eagleusb.com
	name				= eagleusb
	signingKey	= 261A9BBA20205A3EFDEBAF26A293DEC498A799F3
{{- else -}}
[user]
	email				= git@eagleusb.com
	name				= eagleusb
	signingKey	= 261A9BBA20205A3EFDEBAF26A293DEC498A799F3
{{- end }}

[alias]
	ad				= add --all
	added			= difftool --cached
	author		= commit --amend --author
	br				= branch -a
	branches	= branch -a
	ca				= commit -a
	cm				= commit -m
	co				= checkout
	dc				= difftool --cached
	di				= difftool
	ds				= difftool --staged
	hist			= log --graph --abbrev-commit --date=auto:human --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lg				= log --oneline --graph --decorate
	ls				= ls-files
	lsi				= ls-files --others --i --exclude-standard
	rb				= rebase
	rba				= rebase --abort
	rbc				= rebase --continue
	rbi				= rebase -i
	remotes		= remote -v
	st				= status
	subinit		= submodule update --init --recursive
	subpull		= submodule foreach git pull
	tags			= tag -l

[help]
	browser		= firefox
	format		= man

[color]
	ui				= always

[core]
	editor		= vim

[diff]
	tool			= icdiff

[difftool]
	prompt		= false

[difftool "icdiff"]
	cmd				= icdiff --no-bold --line-numbers --highlight $LOCAL $REMOTE

[pager]
	difftool	= true

[icdiff]
	options		= --highlight --line-numbers --no-bold

[rebase]
	autosquash	= true
	stat				= true

[filter "lfs"]
	clean			= git-lfs clean -- %f
	smudge		= git-lfs smudge -- %f
	process		= git-lfs filter-process
	required	= true

[commit]
	gpgSign		= true

[protocol]
	version		= 2

[pull]
	rebase		= false
	ff				= only
