{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eu

sudo apt -qq update
sudo apt install \
  apt-transport-https  bash-completion bat \
  build-essential calibre coreutils \
  curl debootstrap dfu-programmer \
  dfu-util diffutils dunst \
  fd-find feh firefox \
  fonts-firacode fonts-font-awesome fonts-hack \
  fzf gimp git git-crypt gnome-screenshot \
  gnupg golang-1.15 gpg i3 i3lock \
  icdiff iotop iperf3 iproute2 iputils-ping \
  jq keepassxc kitty less lm-sensors mtr \
  nautilus net-tools netcat-openbsd nmap \
  nnn openvpn pdftk peek pigz python2-dev \
  python3-dev python3-pip qemu-kvm qemu-utils \
  redshift rofi rsync tcpdump tcptraceroute \
  unrar unzip vim virtualbox vlc wget whois \
  wireshark xautolock youtube-dl
{{ end -}}
