{
    "breadcrumbs.enabled": true,
    "files.autoSave": "onFocusChange",
    "files.defaultLanguage": "Markdown",
    "files.insertFinalNewline": true,
    "files.trimFinalNewlines": true,
    "files.trimTrailingWhitespace": true,
    "editor.cursorSmoothCaretAnimation": true,
    "editor.cursorStyle": "block",
    "editor.fontFamily": "Fira Code Retina, Fira Code",
    "editor.fontLigatures": true,
    "editor.fontSize": 12,
    "editor.formatOnPaste": true,
    "editor.formatOnType": true,
    "editor.minimap.enabled": true,
    "editor.minimap.renderCharacters": false,
    "editor.minimap.side": "left",
    "editor.renderControlCharacters": true,
    "editor.renderWhitespace": "boundary",
    "editor.scrollBeyondLastLine": false,
    "editor.tabSize": 2,
    "editor.wordWrap": "on",
    "editor.wordWrapColumn": 100,
    "editor.rulers": [
        100
    ],
    "explorer.autoReveal": false,
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "workbench.colorTheme": "SynthWave '84",
    "workbench.editor.tabSizing": "shrink",
    "workbench.iconTheme": "vscode-icons",
    "workbench.startupEditor": "newUntitledFile",
    "workbench.statusBar.visible": true,
    "workbench.tips.enabled": false,
    "workbench.tree.renderIndentGuides": "always",
    "workbench.colorCustomizations": {
        "editorIndentGuide.activeBackground": "#a6ff00"
    },
    "projectManager.git.maxDepthRecursion": 8,
{{- if eq .chezmoi.hostname "FR-VI-190802-01" }}
    "projectManager.git.baseFolders": [
        "/home/groot/Documents/code/navya",
    ],
{{- else }}
    "projectManager.git.baseFolders": [
        "/home/groot/Documents/code",
    ],
{{- end }}
    "projectManager.groupList": true,
    "projectManager.any.ignoredFolders": [
        "node_modules",
        "out",
        "test",
        "tests",
        ".terraform",
    ],
    "terminal.external.linuxExec": "kitty",
    "terminal.integrated.cursorBlinking": true,
    "terminal.integrated.fontFamily": "Fira Code, Fira Code Retina",
    "terminal.explorerKind": "external",
    "git.autofetch": true,
    "git.autofetchPeriod": 300,
    "git.enableCommitSigning": true,
    "git.showPushSuccessNotification": true,
    "git.detectSubmodulesLimit": 30,
    "git.promptToSaveFilesBeforeCommit": "always",
    "[git-commit]": {
        "editor.rulers": [72]
    },
    "prettier.singleQuote": true,
    "prettier.printWidth": 100,
    "prettier.trailingComma": "es5",
    "npm.enableScriptExplorer": true,
    "javascript.referencesCodeLens.enabled": true,
    "javascript.preferences.quoteStyle": "single",
    "javascript.preferences.importModuleSpecifier": "relative",
    "python.autoComplete.addBrackets": true,
    "python.jediEnabled": false,
    "python.formatting.provider": "black",
    "python.formatting.blackArgs": [
        "--line-length 100"
    ],
    "python.linting.banditEnabled": true,
    "yaml.format.enable": true,
    "yaml.schemas": {},
    "files.associations": {
        "**/defaults/*.yml": "ansible",
        "**/handlers/*.yml": "ansible",
        "**/meta/*.yml": "ansible",
        "**/tasks/*.yml": "ansible",
        "**/test*/*.yml": "ansible",
        "**/vars/*.yml": "ansible",
    },
    "markdown.preview.fontFamily": "Fira Code Retina",
    "[json]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "terraform.languageServer": {
        "external": true,
        "args": [
            "serve"
        ]
    },
    "go.autocompleteUnimportedPackages": true,
    "go.useCodeSnippetsOnFunctionSuggest": true,
    "go.useLanguageServer": true,
{{- if eq .chezmoi.hostname "FR-VI-190802-01" }}
    "go.toolsGopath": "/home/groot/go",
{{- end }}
    "update.mode": "none",
    "extensions.showRecommendationsOnlyOnDemand": true,
    "vs-kubernetes": {
        "vs-kubernetes.minikube-path.linux": "/home/groot/.vs-kubernetes/tools/minikube/linux-amd64/minikube"
    },
}
