#!/bin/env bash

set -e

# specs:
# xrandr --listactivemonitors
# Monitors: 2
#  0: +*HDMI-2 1920/531x1080/298+1366+0  HDMI-2
#  1: +eDP-1 1366/277x768/156+0+0  eDP-1
#
# * means primary
# + means connected


getCurrentMonitor () {
  return /usr/bin/xrandr --listactivemonitors
}

setPrimary () {
  /usr/bin/xrandr --output ${1} --primary --auto
  echo -e "Monitor ${1} set as primary"
}

setDpi () {
  [[ ${#} == 2 ]] || { echo 'setDpi() takes only two arguments, exiting...'; return; }
  /usr/bin/xrandr --output ${1} --dpi ${2}
  echo -e "Monitor ${1} DPI set to ${2}"
}

setScale() {
  /usr/bin/xrandr --output ${1} --scale 1.2x1.2
}

setRefreshRate() {
  [[ ${#} -le 3 ]] || {
    echo 'setRefreshRate() takes a maximum of three arguments [monitor, rate, optional: resolution], exiting...';
    return;
  }
  /usr/bin/xrandr --output ${1} --rate ${2} --mode ${3:-1920x1080}
}

setRightOf() {
  /usr/bin/xrandr --output ${1} --right-of ${2}
}

setLeftOf() {
  /usr/bin/xrandr --output ${1} --left-of ${2}
}

isHdmiPresent() {
  local PATTERN_HDMI='\s+\+(\*)?HDMI\-2\s'
  if [[ $(getCurrentMonitor | grep -coE "${PATTERN_HDMI}") == 1 ]]; then
    return true
  fi
  return false
}

isEdpPresent() {
  local PATTERN_EDP='\s+\+(\*)?eDP\-1\s'
  if [[ $(getCurrentMonitor | grep -coE "${PATTERN_EDP}") == 1 ]]; then
    return true
  fi
  return false
}

isFullHd() {
  # TODO
  return
}

log() {
  echo "${1-}"
  logger -p user.info "i3-multi-monitor: ${1-}"
}


# main
if [[ isHdmiPresent == true ]]; then
  log "HDMI monitor detected, setting it as primary..."
{{- if eq .chezmoi.hostname "FR-VI-190802-01" }}
  setPrimary "HDMI-1"
  setLeftOf "HDMI-1" "eDP-1"
  setDpi "HDMI-1" "181"
{{- else }}
  setPrimary "HDMI-2"
  setLeftOf "HDMI-2" "eDP-1"
  setDpi "HDMI-2" "136"
  setRefreshRate "HDMI-2" "120" "1920x1080"
{{- end }}
else
  log "HDMI monitor not detected, nothing to do..."
  setDpi "eDP-1" "136"
fi
